/* RESET DE ESTILOS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: tomato;
  height: 100px;
}
span {
  font-size: 50px;
  display: block;
  text-align: center;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: purple;
}

footer {
  display: flex;
  align-items: center;
  background-color: rgb(248, 73, 102);
  height: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.container div {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  border-radius: 10px;
}

.container div img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
